<div class="index">
  <div id="search_box">
    <%= form_for @user, url: {action: "create"} do |f| %>
    <%= f.text_field :address, :placeholder => "Enter Your New York Zip Code"%>
    <%= f.submit "See Where To Go" %>
    <% end %>
  </div>

</div>