<div class="index">
  <div class="col-md-6">
    <div class="row page-header">
      <h1>Cheap, Fast, Eats!</h1>
    </div>
  </div>
  <div id="search_box">
    <%= form_for @user, url: {action: "create"} do |f| %>
    <%= f.text_field :address, :placeholder => "Enter Your New York Zip Code"%>
    <%= f.submit "Find a restaurant!" %>
    <% end %>
  </div>

</div>

