/*// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

/*
screen, overlay, darken, lighten, color-dodge, color-burn, hard-light, soft-light, difference, exclusion, hue, saturation, color, and luminosity. And also normal which reset it.*/
.index {
  background-image: url(burger_2.jpg);
  background-size: 40px 35px;
  background-color: purple;
  background-blend-mode: exclusion;
  background-repeat: repeat;
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
};

#search_box {
  position: absolute;
  left: 50%;
  top: 50%;    
  margin-left: -170px;
  width: 150px;
  height: 22px;
}

input {
  width: 350px;
  height: 35px;
  font-size: 28px;
  color: #555
}

input.error, textarea.error {
 border: 5px solid red;
}

h3.error {
 color: red;
 width: 300px;
 font-weight: 2.0;
 border: 2px solid red;
 background-color: #fff;
 text-align: center;
}

/******************
Results
******************/



