<!DOCTYPE html>
<html>
<head>
  <title>Fatebracket</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script> 
  <script src="jquery.jSlots.js" charset="utf-8"></script>
  <script src="jquery.easing.1.3.js" charset="utf-8"></script>
</head>
<body>

<%= yield %>

</body>
</html>
